{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true,
    "jest": true
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "linebreak-style": [
      "warn",
      "unix"
    ],
    "quotes": [
      "error",
      "single"
    ],
    "semi": [
      "error",
      "always"
    ],
    "import/no-named-as-default": "off",
    "import/no-extraneous-dependencies": "off",
    "import/no-cycle": "off",
    "import/prefer-default-export": "off",
    "react/sort-comp": "off",
    "react/destructuring-assignment": "off",
    "react/jsx-wrap-multilines": "off",
    "react/button-has-type": "off",
    "react/prefer-stateless-function": "off",
    "react/jsx-one-expression-per-line": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/href-no-hash": "off",
    "no-shadow": "off",
    "no-else-return": "off",
    "no-unused-expressions": "warn",
    "no-useless-concat": "warn",
    "object-curly-newline": "off",
    "indent": "off",
    "quote-props": "off",
    "max-len": "off",
    "operator-linebreak": "off",
    "lines-between-class-members": "off",
    "arrow-body-style": "off",
    "block-scoped-var": "error",
    "consistent-return": "error"
  }
}