{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "prettier",
    "plugin:import/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "env": {
		"browser": true,
		"node": true,
    "es6": true
	},
  "rules": {
    "react/prop-types": 0
  }
}
