{
    auto_https off
    debug
}
:2015

root * /srv
file_server

templates
log {
  level INFO
}
encode gzip
try_files {path}.html {path}


header /service-worker.js {
  Cache-Control max-age=0,no-cache,no-store,must-revalidate
}

header /index.html {
  Cache-Control max-age=0,no-cache,no-store,must-revalidate
}

