{
    auto_https off
}
:2015 {
  root * /srv
  log {
    level DEBUG
  }
  templates /static/js/* {
    between [[! !]]
    mime application/javascript text/javascript
  }

  encode gzip
  try_files {path} /index.html
  file_server
  header /service-worker.js {
    Cache-Control max-age=0,no-cache,no-store,must-revalidate
  }

  header /index.html {
    Cache-Control max-age=0,no-cache,no-store,must-revalidate
  }

  header /static/* {
  Cache-Control max-age=604800,public
  }

  header /images/* {
  Cache-Control max-age=604800,public
  }

  header /manifest.json {
  Cache-Control max-age=3600
  }
}
