{
    auto_https off
}
:2015

root * /srv
file_server

log {
  level INFO
}
encode gzip
try_files {path} /index.html
templates /static/js/* {
  mime application/javascript
}

header /service-worker.js {
  Cache-Control max-age=0,no-cache,no-store,must-revalidate
}

header /index.html {
  Cache-Control max-age=0,no-cache,no-store,must-revalidate
}

