@import 'styles/mixins.scss';
@import 'styles/Grid.scss';

.agrm {
  &__search {
    width: 250px;
  }
  &__table-container {
    @extend .container;
  }
  &__ptable {
    background-color: white;
    border-radius: 5px;

    &__header-row {
      border-bottom: 1px solid black;
      display: flex;
      align-items: center;
      min-height: 40px;
      font-size: 1.1rem;
      width: 100%;

      &__cell {
        flex: 1;
        padding: 0 10px;

        &:nth-of-type(3) {
          flex: none;
          flex-basis: auto;
          color: white;
          z-index: -1;
        }
      }
    }
    &__row {
      display: flex;
      padding: 0;
      min-height: 45px;
      align-items: center;
      border-bottom: 1px solid rgba(34,36,38,.1);

      &__cell {
        flex: 1;
        padding: 0px 10px;

        &:nth-of-type(3) {
          flex: none;
          flex-basis: auto;
          padding: 10px;
        }
      }
    }
  }
  &__table {
    &__header-row {
      border-bottom: 2px solid black;
      display: flex;
      align-items: center;
      padding: 0;
      min-height: 50px;
      font-size: 1.1rem;
      width: 100%;
      outline: none;

      &__cell {
        flex: 1;
        padding: 0 10px;
        font-weight: bold;

        &:nth-of-type(3) {
          flex: 2;
        }
        &:nth-of-type(6) {
          flex: none;
          flex-basis: auto;
          color: white;
          padding: 0 13px;
        }
      }
    }
    &__row {
      border-bottom: 1px solid rgba(34,36,38,.1);
      &--active {
        background-color: #eee;
        border-radius: 5px;
      }
    }
    &__accordian {
      color: #444;
      display: flex;
      padding: 0;
      min-height: 45px;
      align-items: center;
      background-color: inherit;
      cursor: pointer;
      width: 100%;
      text-align: left;
      border: none;
      outline: none;
      transition: 0.4s;

      &:hover {
        background-color: #eee;
      }
      &__cell {
        flex: 1;
        padding: 0px 10px;

        &:nth-of-type(3) {
          flex: 2;
        }
        &:nth-of-type(6) {
          flex: none;
          flex-basis: auto;
          padding: 0 13px;
        }
      }
    }

    &__panel {
      padding: 0 15px 15px 15px;
      display: none;
      overflow: hidden;
      &--active {
        display: block;
      }
    }
  }

  &__pagination {
    margin-top: 15px;
  }

  &__message {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(34,36,38,.1);
    min-height: inherit;

    &--error {
      color: $error-color;
    }
  }
}