$plan_table_date_cell_rate: 0.6;
$first_agrm_table_cell_rate: 0.8;
$third_agrm_table_cell_rate: 1.9;

.agrm {
  &__search {
    width: 400px;
  }
  &__table-container {
    @extend .container;
    margin-top: 5px;
  }
  &__ptable {
    background-color: white;
    border-radius: 5px;

    &__header-row {
      border-bottom: 1px solid black;
      display: flex;
      align-items: center;
      min-height: 40px;
      font-size: 1.1rem;
      font-weight: bold;
      width: 100%;
      padding: 0 10px;
      
      &__cell {
        flex: 1;
        padding-right: 10px;
        display: flex;
        align-items: center;

        &:nth-of-type(1) {
          flex: $plan_table_date_cell_rate;
        }
        &:nth-of-type(2) {
          flex: $plan_table_date_cell_rate;
        }
        &:nth-of-type(5) {
          flex: none;
          flex-basis: auto;
          color: white;
          z-index: -1;
          padding-right: 0px;
        }
      }
    }
    &__message {
      display: flex;
      min-height: 40px;
      justify-content: center;
      align-items: center;

      &--error {
        color: $error-color;
        height: 50px;
      }
    }
    &__row {
      display: flex;
      padding: 0;
      min-height: 45px;
      align-items: center;
      padding: 5px 10px;

      &:not(:last-child) {
        border-bottom: 1px solid rgba(34,36,38,.1);
      }
      &__cell {
        flex: 1;
        padding-right: 10px;
        display: flex;
        align-items: center;

        &:nth-of-type(1) {
          flex: $plan_table_date_cell_rate;
        }
        &:nth-of-type(2) {
          flex: $plan_table_date_cell_rate;
        }
        &:nth-of-type(5) {
          flex: none;
          flex-basis: auto;
          padding-right: 0px;
        }
      }
    }
  }
  &__table {
    &__header-row {
      border-bottom: 2px solid black;
      display: flex;
      align-items: center;
      padding: 0;
      min-height: 50px;
      width: 100%;
      outline: none;
      padding: 0 10px;
      font-size: 1.2rem;

      &__cell {
        flex: 1;
        font-weight: bold;
        padding-right: 10px;

        &:nth-of-type(1) {
          flex: $first_agrm_table_cell_rate;
        }
        &:nth-of-type(3) {
          flex: $third_agrm_table_cell_rate;
        }
        &:nth-of-type(6) {
          flex: none;
          flex-basis: auto;
          padding-right: 0px;
          color: white;
        }
      }
    }
    &__row {
      border-bottom: 1px solid rgba(34,36,38,.1);

      &--active {
        background-color: #eee;
        border-radius: 5px;
      }
      &--not-active {
        opacity: 0.6;
      }
    }
    &__accordian {
      color: #444;
      display: flex;
      padding: 0;
      min-height: 45px;
      align-items: center;
      background-color: inherit;
      cursor: pointer;
      width: 100%;
      text-align: left;
      border: none;
      outline: none;
      transition: 0.4s;
      padding: 0 10px;

      &:hover {
        background-color: #eee;
      }
      &__cell {
        flex: 1;
        padding-right: 10px;

        &:nth-of-type(1) {
          flex: $first_agrm_table_cell_rate;
        }
        &:nth-of-type(3) {
          flex: $third_agrm_table_cell_rate;
        }
        &:nth-of-type(6) {
          flex: none;
          flex-basis: auto;
          padding-right: 0px;
        }
      }
    }

    &__panel {
      padding: 0 12px 12px 12px;
      display: none;
      overflow: hidden;
      &--active {
        display: block;
      }
    }
  }

  &__pagination {
    margin-top: 10px;
  }

  &__message {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 45px;

    &--error {
      min-height: 50px;
      color: $error-color;
      font-size: 1.2rem;
    }
  }
}