@import 'styles/mixins.scss';

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-width: $mobile-width;
  overflow-x: auto;
}

footer {
  height: 20px;
}

@import 'styles/Common.scss';
@import 'styles/PageNotFound.scss';
@import 'styles/Login.scss';
@import 'styles/Rup.scss';
@import 'styles/ManageZone.scss';
@import 'styles/Navbar.scss';
@import 'styles/Grid.scss';