@import 'styles/mixins.scss';
@import 'styles/common.scss';
@import 'styles/PageNotFound.scss';
@import 'styles/Login.scss';
@import 'styles/RangeUsePlan.scss';
@import 'styles/ManageZone.scss';

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-width: $mobile-width;
  overflow-x: auto;
}

.container {
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.navbar {
  background: $primary-color;
  border-bottom: 3px solid $accent-color;

  &__container {
    height: $nav-height;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__left,
  &__right {
    display: flex;
    align-items: center;
  }

  &__link {
    height: $nav-height;
    display: flex;
    align-items: center;
    color: white;
    padding: 0 20px;

    &:hover {
      color: white;
      text-decoration: underline;
    }

    &--active {
      background: $primary-light-color;
    }
  }

  &__logo {
    height: 40px;
  }

  &__title {
    border-left: 1px solid $accent-color;
    font-size: 1.2rem;
    padding-left: 15px;
    margin-left: 10px;
    color: white;
  }
}