.status {
  display: flex;
  align-items: center;

  &__label {
    font-size: 1rem;
    font-weight: bold;
  }
  &__icon {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
 
    &--approved {
      background: green;
    }
  
    &--pending {
      background: orange;
    }
  
    &--not-approved {
      background: red;
    }
  }
}

.field {
  align-self: center;

  &__label {
    font-weight: bold;
    font-size: 1.1rem;
    color: gray;
    margin-bottom: 10px;
    display: inline-block;

    &--hidden {
      display: none;
    }
  }

  &__input {
    // border-bottom: 2px solid $primary-color;
    font-size: 1.1rem;
  }
}