.status {
  display: flex;
  align-items: center;
  line-height: 10px;

  &__label {
    font-size: 1rem;
    font-weight: bold;
    line-height: 14px;
  }
  &__icon {
    min-width: 10px;
    min-height: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 7px;

    &--orange {
      background: orange;
    } 
    &--purple {
      background: purple;
    }
    &--gray {
      background: gray;
    }
    &--green {
      background: green;
    }
    &--red {
      background: red;
    }
    &--black {
      background: black;
    }
    &--not-provided {
      display: none;
    }
  }
}

.text-field {
  margin: 3px 0;

  &__label {
    font-size: 1.2rem;
    color: gray;

    &--hidden {
      display: none;
    }
  }
  &__button {
    @extend .default-button;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    margin: 2px 0 5px 0;
    padding: 8px !important;
    background: #eeeeee;
  }
  &__text {
    border-radius: 5px;
    margin: 2px 0 5px 0;
    padding: 8px 0;
    font-size: 1.1rem;
  }
}

.avatar {
  min-width: 40px;
  max-width: 40px;
  height: 40px;
  min-height: 40px;
  border-radius: 50%;
  background: $primary-light-color;
  display: flex;
  justify-content: center;
  align-items: center;

  &__initial {
    color: white;
  }
}

.banner {
  background: $primary-color;
  color: white;

  &__container {
    @extend .container;
    padding-top: 10px;
    min-height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &--no-default-height {
      min-height: 0px !important;
    }
  }

  &__content {
    font-size: 1.2rem;
  }

  &__action {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    margin-bottom: 10px;
  }

}

.page-not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__image {
    margin-left: 30px;
    width: 150px;
  }

  &__title {
    text-align: center;
    font-size: 3rem;
    margin: 10px 0 30px 0;
  }

  &__content {
    font-size: 1.3rem;
    text-align: center;
    line-height: 140%;
    p {
      margin: 0;
    }
  }

  &__link {
    margin: 10px auto;
    width: fit-content;
    font-size: 1.3rem;

    &--boldered {
      border: 1px solid  
    }
  }
}

.multi-form {
  &__tab {
    display: none;

    &--active {
      display: block;
    }
    &__title {
      font-size: 1.3rem;
      font-weight: bold;
      margin-bottom: 20px;
    }
  }
  &__btns {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
  }
  &__btn {
    min-width: 120px;
  }
}

.loading-spinner {
  &__container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.error-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 1.5rem;
  flex-direction: column;

  > div {
    margin: 10px 0;
  }

  &__message {
    margin: 0px 10px 0 5px;
  }
}

.collaspible-boxes {
  margin: 10px 0 0 0;
  list-style-type: none;
  padding: 0;
  border-radius: 5px;
  border: 1px solid gainsboro;
  
  li {
    border-bottom: 1px solid gainsboro;
  }
  li:last-child {
    border-bottom: 0px solid gainsboro;
  }

  &--empty {
    border: 0px;
  }
}

.collaspible-box {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 1.2rem;
    width: 100%;

    &__title {
      @extend .default-button;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      background: none;
      padding: 0px 15px !important;
      height: 50px;
      opacity: 0.5;

      &--active {
        opacity: 1;
      }
    }
    &__right {
      display: flex;
      align-items: center;
    }
  }
  &__content {
    padding: 0px 15px 15px 15px;

    &--hidden {
      display: none;
    }
  }
}

.input-modal {
  padding: 15px;
  margin-top: 5px;

  &__title {
    margin-bottom: 15px;
    font-size: 1.4rem;
    font-weight: bold;
  }
  &__btns {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;

    > div {
      width: 47% !important;
    }
  }
}

.inverted-btn {
  display: inline;

  .ui.button {
    color: $primary-color !important;
    box-shadow: 0 0 0 1.5px #003366 inset !important;
    background: transparent none !important;
  } 
}

.signin-modal {
  &__login-message,
  &__message {
    background: $accent-color;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 45px;
    font-size: 1.2rem;
    font-weight: bold;
  }
  &__login-message {
    font-size: 1.1rem;
  }
  &__login-btn {
    color: #4183c4;
    text-decoration: none;
    cursor: pointer;
  }
}

.footer {
  background: $primary-color;
  border-top: 2px solid $accent-color;
  color: white;
  margin-top: auto;

  &__pad {
    margin: 35px;
  }
  &__content-list {
    display: flex;
    justify-content: flex-end;
    padding: 15px 0px;
  }
  &__divider {
    border-right: 1px solid #ccc;
    margin: 0 15px 0 11px;
    padding: 0 2px;
  }
}