@import 'styles/mixins.scss';
@import 'styles/Grid.scss';

.status {
  display: flex;
  align-items: center;

  &__label {
    font-size: 1rem;
    font-weight: bold;
  }
  &__icon {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 7px;

    &--created {
      background: orange;
    } 
    &--pending {
      background: purple;
    }
    &--draft {
      background: gray;
    }
    &--completed {
      background: green;
    }
    &--change-requested {
      background: red;
    }
    &--not-provided {
      display: none;
    }
  }
}

.text-field {
  margin: 3px 0;

  &__label {
    font-size: 1.2rem;
    color: gray;

    &--hidden {
      display: none;
    }
  }

  &__text {
    border-radius: 5px;
    margin: 2px 0 5px 0;
    padding: 8px 0;
    font-size: 1.1rem;
    
    &--editable {
      background: #eeeeee;
      padding: 8px;    
    }
  }
}

.avatar {
<<<<<<< HEAD
  min-width: 40px;
  max-width: 40px;
=======
  width: 40px;
  min-width: 40px;
>>>>>>> c50c1e80f99723adb6862969a827e4b3dbe4037c
  height: 40px;
  min-height: 40px;
  border-radius: 50%;
  background: $primary-light-color;
  display: flex;
  justify-content: center;
  align-items: center;
  // cursor: pointer;

  &__initial {
    color: white;
  }
}

.banner {
  background: $primary-color;
  color: white;
  min-height: 150px;
  padding: 10px;
  &__container {
    @extend .container;
  }

  &__content {
    font-size: 1.2rem;
  }

  &__action {
    display: flex;
    justify-content: flex-end;
    margin-top: 12px;
  }
  &__no-default-height {
    min-height: 0px !important;
  }
}

.confirmation-modal {
  &__content {
    font-size: 1.2rem;
  }
}

.toasts {
  bottom: 24px;
  position: fixed;
  right: 24px;
  width: 350px;
  z-index: $toast-z-index;
}

.toast {
  align-items: flex-start;
  border-radius: 4px;
  color: #ffffff;
  display: flex;
  padding: 16px;

  &:not(:last-child) {
    margin: 0 0 12px;
  }

  &__success {
    background-color: $primary-color;
  }

  &__error {
    background-color: $error-color;
  }

  &__content {
    flex: 1 1 auto;
    margin: 0 12px 0 0;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.1rem;
  }

  &__dismiss {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    border: 0;
    color: inherit;
    cursor: pointer;
    display: block;
    flex: 0 0 auto;
    font: inherit;
    padding: 0;
    font-size: 1.3rem;
  }
}

.logout,
.page-not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__image {
    margin-left: 30px;
    width: 150px;
  }

  &__title {
    text-align: center;
    font-size: 3rem;
    margin: 10px 0 30px 0;
  }

  &__content {
    font-size: 1.3rem;
    text-align: center;
    line-height: 140%;
    p {
      margin: 0;
    }
  }

  &__link {
    margin: 10px auto;
    width: fit-content;
    font-size: 1.3rem;

    &--boldered {
      border: 1px solid  
    }
  }
}