.status {
  display: flex;
  align-items: center;
  
  &__icon {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
 
    &--approved {
      background: green;
    }
  
    &--pending {
      background: orange;
    }
  
    &--draft {
      background: $accent-color;
    }
  }
}