@import './mixins.scss';
@import './Common.scss';
@import './Login.scss';
@import './Agreement.scss';
@import './ManageZoneAndClient.scss';
@import './LandingPage.scss';
@import './pikaday.scss';
@import './Toast.scss';
@import './Rup.scss';
@import './RupGrazingSchedule.scss';
@import './RupMinisterIssue.scss';
@import './RupPasture.scss';
@import './Grid.scss';

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-width: $mobile-width;
  overflow-x: auto;
  background: #fdfdfd;
}
