.navbar {
  background: $primary-color;
  border-bottom: 2px solid $accent-color;

  &__container {
    @extend .container;
    height: $nav-height;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__left,
  &__right {
    display: flex;
    align-items: center;
  }

  &__link {
    height: $nav-height;
    display: flex;
    align-items: center;
    color: white;
    padding: 0 20px;
    cursor: pointer;
    
    &:hover {
      color: white;
      text-decoration: underline;
    }

    &--active {
      background: $primary-light-color;
    }
  }

  &__logo {
    height: 40px;
  }

  &__title {
    border-left: 1px solid $accent-color;
    font-size: 1.2rem;
    padding-left: 15px;
    margin-left: 10px;
    color: white;
    white-space: nowrap;
  }
}

.offline {
  background-color: $error-color;
  color: white;
  text-align: center;
  height: 15px;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-error {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 1.5rem;
}

footer {
  height: 20px;
}

.confirmation-modal {
  &__content {
    font-size: 1.2rem;
  }
}