@import 'styles/mixins.scss';
@import 'styles/Grid.scss';

.navbar {
  background: $primary-color;
  border-bottom: 2px solid $accent-color;

  &__container {
    @extend .container;
    height: $nav-height;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__left,
  &__right {
    display: flex;
    align-items: center;
  }

  &__link {
    height: $nav-height;
    display: flex;
    align-items: center;
    color: white;
    padding: 0 20px;
    cursor: pointer;
    
    &:hover {
      color: white;
      text-decoration: underline;
    }

    &--active {
      background: $primary-light-color;
    }
  }

  &__logo {
    height: 40px;
  }

  &__title {
    border-left: 1px solid $accent-color;
    font-size: 1.2rem;
    padding-left: 15px;
    margin-left: 10px;
    color: white;
    white-space: nowrap;
  }
}

.toasts {
  top: 30px;
  position: fixed;
  right: 30px;
  width: 400px;
  z-index: $toast-z-index;
}

.toast {
  min-height: 65px;
  border-radius: 5px;
  color: black;
  display: flex;
  align-items: stretch;
  border: 1px solid rgba(34,36,38,.1);

  &:not(:last-child) {
    margin: 0 0 12px;
  }

  &__icon {
    min-width: 50px;
    max-width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    &__success {
      background-color: green;
    }
  
    &__error {
      background-color: $error-color;
    }
  }

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-color: white;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.1rem;
    padding: 15px;
  }

  &__dismiss {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: white;
    border: 0;
    color: inherit;
    cursor: pointer;
    display: block;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    font: inherit;
    padding: 10px;
    font-size: 1.3rem;
  }
}

.offline {
  background-color: $error-color;
  color: white;
  text-align: center;
  height: 15px;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-error {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 1.5rem;
}

footer {
  height: 20px;
}

.confirmation-modal {
  &__content {
    font-size: 1.2rem;
  }
}