// $form-min-width: 250px;
.login {
  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $primary-color;
    height: 60px;

    &__logo {
      height: 40px;
    }
    &__title {
      border-left: 1px solid $accent-color;
      height: 35px;
      font-size: 1.7rem;
      padding-left: 15px;
      margin-left: 10px;
      color: white;
      display: flex;
      align-items: center;
    }
  }
  &__text-cell {
    @extend .col-lg-5, .col-lg-offset-1, .col-sm-6;
  }
  &__image-cell {
    @extend .col-lg-5, .col-sm-6;
  }
  &__paragraph1 {
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__paragraph2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    box-shadow: 0 2px 20px 0 rgba(35,64,117,0.1);

    &__title {
      font-size: 2.3rem;
      color: $primary-color;
      line-height: initial;
      margin-bottom: 10px;
    }
    &__text {
      max-width: 600px;
      font-size: 1.2rem;
      line-height: 25px;
      text-align: center;
      padding: 10px;
    }
  }
  &__paragraph3 {
    padding: 50px 0;
    box-shadow: 0 2px 20px 0 rgba(35,64,117,0.1);
  }
  &__signin {
    &__container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 30px 0;
      padding: 20px 30px;
      min-width: 400px;
      background: white;
      border-radius: 5px;
    }
    &__title {
      font-size: 2.3rem;
      line-height: initial;
      color: $primary-color;
    }
    &__text1 {
      font-size: 1.1rem;
      text-align: center;
      margin-top: 10px;
    }
    &__text2 {
      font-size: 1.1rem;
      text-align: center;
      margin-top: 20px;
    }
    &__text3 {
      font-size: 1.1rem;
      margin-bottom: 25px;
    }
    &__link-container {
      align-self: stretch;
      text-align: right;
      margin-top: 20px;
      border-top: 1px solid lightgray;
      padding-top: 10px;

      > a:nth-of-type(1) {
        margin-right: 10px;
      }
      > a:nth-of-type(2) {
        margin-left: 10px;
      }
    }
  }
}
// .login {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   min-height: 100vh;

//   &__image {
//     width: 200px;
//   }

//   &__title {
//     opacity: 0.9;	
//     color: $primary-color;	
//     font-family: "Open Sans",open-sans,sans-serif;
//     font-size: 60px;	
//     font-weight: 300;	
//     line-height: 60px;
//     margin: 50px 0;
//     text-align: center;
//   }

//   &__header {
//     color: #000000;
//     font-family: "Open Sans",open-sans,sans-serif;
//     font-size: 30px;
//     font-weight: bold;
//     line-height: 40px;
//     margin-bottom: 30px;
//   }

//   &__form {
//     min-width: $form-min-width;        
//     margin-bottom: 15px;
//   }

//   &__button {
//     min-width: $form-min-width;    
//   }

//   &__change-link {
//     display: block;
//     margin-top: 10px;
//     font-size: 1.1rem;
//   }
// }