@import 'styles/mixins.scss';
$form-min-width: 250px;

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  &__image {
    width: 200px;
  }

  &__title {
    opacity: 0.9;	
    color: $primary-color;	
    font-family: "Open Sans",open-sans,sans-serif;
    font-size: 60px;	
    font-weight: 400;	
    line-height: 60px;
    margin: 50px 0;
    text-align: center;
  }

  &__header {
    color: #000000;
    font-family: "Open Sans",open-sans,sans-serif;
    font-size: 30px;
    font-weight: bold;
    line-height: 40px;
    margin-bottom: 30px;
  }

  &__form {
    min-width: $form-min-width;        
    margin-bottom: 15px;
  }

  &__button {
    min-width: $form-min-width;    
  }

  &__change-link {
    display: block;
    margin-top: 10px;
    font-size: 1.1rem;
  }
}