.navbar {
  &__container {
    @extend .container;
    height: $nav-height;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__left,
  &__right {
    display: flex;
    align-items: center;
  }

  &__link {
    height: $nav-height;
    display: flex;
    align-items: center;
    color: $light-black;
    padding: 0 12px;
    cursor: pointer;
    position: relative;

    &:hover {
      color: black;
    }
    &--active {
      > div { // for .navbar__link__underline
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 0;
        border-bottom: 5px solid #F3B229;
      }
    }
  }

  &__logo {
    display: flex;
  }

  &__title {
    border-left: 1px solid $accent-color;
    font-size: 1.2rem;
    padding-left: 15px;
    margin-left: 10px;
    color: white;
    white-space: nowrap;
  }
  &__avatar {
    display: flex !important;
    align-items: center;
    height: 50px;
    margin-left: 10px;

    // custom positioning for semantic-ui dropdown
    > .menu.transition.visible:after {
      right: 13%;
      left: unset !important;
    }
    > .menu.transition.visible {
      right: 0;
      left: unset;

      > .item {
        padding: 15px !important;
      }
    }
  }
  &__menu {
    display: flex !important;
    align-items: center;
    height: 50px;
    color: white;
    padding: 0 15px;

    > .menu.transition.visible {
      > .item {
        height: 45px;
        display: flex;
        align-items: center;
      }
    }
  }
}

.offline {
  background-color: $error-color;
  color: white;
  text-align: center;
  height: 15px;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-error {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 1.5rem;
}

.confirmation-modal {
  &__content {
    font-size: 1.2rem;
  }
  &__btns {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
  }
}