$mobile-width: 500px;
$tablet-width: 768px;
$large-width: 1024px;
$desktop-width: 75em;
$x-large-width: 90em;

$light-gray-color: rgba(34,36,38,1);
$primary-color: #003366;
$primary-light-color : #5475A7;
$accent-color: #FCBA19;
$error-color: indianred; // #9f3a38;

$sidebar-width: 220px;
$nav-height: 50px;

$toast-z-index: 10;

$rup-sticky-z-index: 1;
$rup-sticky-height: 51.5px;
$rup-content-margin-bottom: 35px; // edit CONTENT_MARGIN_BOTTOM and CONTENT_MARGIN_TOP
$rup-content-margin-top: 20px;    // in variable.js when changing this value

.default-button {
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.error {
  background-color: #fff6f6;
  border-color: #e0b4b4;
  color: $error-color;
  box-shadow: none;
}

@mixin mobile {
  @media (max-width: #{$mobile-width}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$tablet-width}) {
    @content;
  }
}

@mixin large {
  @media (max-width: #{$large-width}) {
    @content;
  }
}

@mixin only-large {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin desktop-width {
  @media (max-width: #{$desktop-width}) {
    @content;
  }
}

@mixin x-large {
  @media (min-width: #{$x-large-width}) {
    @content;
  }
}