$mobile-width: 500px;
$tablet-width: 768px;
$large-width: 1024px;
$desktop-width: 75em;
$x-large-width: 90em;

// $primary-color: #55b560;
// $light-gray-color: rgba(34,36,38,.15);

@mixin mobile {
  @media (max-width: #{$mobile-width}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$tablet-width}) {
    @content;
  }
}

@mixin large {
  @media (max-width: #{$large-width}) {
    @content;
  }
}

@mixin only-large {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin desktop-width {
  @media (max-width: #{$desktop-width}) {
    @content;
  }
}

@mixin x-large {
  @media (min-width: #{$x-large-width}) {
    @content;
  }
}