$mobile-width: 500px;
$tablet-width: 768px;
$large-width: 992px;
$desktop-width: 75em;
$x-large-width: 90em;

/* when modifying these values */
$primary-color: #002C71;
$primary-light-color : #5C668C;
$accent-color: #F3B229;
/* update them in site.variables */

$light-black: #333333;
$light-gray: #f2f2f2;
$error-color: indianred; // #9f3a38;

$sidebar-width: 220px;
$nav-height: 50px;

$login-header-z-index: 11;
$toast-z-index: 15;
$rup-sticky-z-index: 10;

$rup-sticky-height: 50.5px;
$rup-content-margin-bottom: 35px; // edit CONTENT_MARGIN_BOTTOM and CONTENT_MARGIN_TOP
$rup-content-margin-top: 20px;    // in variable.js when changing this value

.default-button {
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

@mixin mobile {
  @media (max-width: #{$mobile-width}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$tablet-width}) {
    @content;
  }
}

@mixin large {
  @media (max-width: #{$large-width}) {
    @content;
  }
}

@mixin only-large {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin desktop-width {
  @media (max-width: #{$desktop-width}) {
    @content;
  }
}

@mixin x-large {
  @media (min-width: #{$x-large-width}) {
    @content;
  }
}