@import 'styles/mixins.scss';
@import 'styles/Grid.scss';

.navbar {
  background: $primary-color;
  border-bottom: 2px solid $accent-color;

  &__container {
    @extend .container;
    height: $nav-height;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__left,
  &__right {
    display: flex;
    align-items: center;
  }

  &__link {
    height: $nav-height;
    display: flex;
    align-items: center;
    color: white;
    padding: 0 20px;

    &:hover {
      color: white;
      text-decoration: underline;
    }

    &--active {
      background: $primary-light-color;
    }
  }

  &__logo {
    height: 40px;
  }

  &__title {
    border-left: 1px solid $accent-color;
    font-size: 1.2rem;
    padding-left: 15px;
    margin-left: 10px;
    color: white;
  }
}