$row-height: 65px;

.range-use-plans {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__actions {
    display: flex;
    align-items: center;
  }

  &__assign {
    display: none;
  }

  &__search {
    display: flex;
    justify-content: flex-end;
    margin-left: 15px;
  }

  &__table {
    margin-top: 20px;
  }

  &__pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
}

.range-use-plans-table-item {
  cursor: pointer;
}

.range-use-plans-search {
  display: flex;
  align-items: center;

  &__label {
    font-size: 15px;	
    font-weight: bold;	
    line-height: 20px;
    margin-right: 10px;
  }
}

.range-use-plan {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    &__actions {
      display: flex;
      align-items: center;
    }
  }

  &__btn {
    width: 130px !important;
    
    &--not-approved {
      margin-right: 15px !important;
    }

    &--view {
      margin-right: 15px !important;
    }
  }

  &__divider {
    border: 1px solid $primary-color;
    margin: 10px 0;
  }

  &__basic-info {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: $row-height $row-height $row-height;
  }

  &__agreement-info {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: $row-height $row-height;
  }
}





// .range-use-plan-pdf-view {

//   &__download-button {
//     position: fixed;
//     bottom: 40px;
//     right: 40px;
//   }

//   &__back-button {
//     position: fixed;
//     bottom: 90px;
//     right: 40px;
//   }

//   &__container {
//     display: flex;
//     flex-direction: column;
//     align-items: center;

//     &__load {
//       margin-top: 1em;
//       color: white;
//     }

//     &__document {
//       margin-bottom: 1em;

//       .ReactPDF {
//         &__Document {
//           display: flex;
//           flex-direction: column;
//           align-items: center;
//         }

//         &__Page {
//           max-width: calc(100% - 2em);
//           box-shadow: 0 0 8px rgba(0, 0, 0, .5);
//           margin: 10px 0;

//           canvas {
//             max-width: 100%;
//             height: auto !important;
//           }
//         }

//         &__message {
//           padding: 20px;
//           color: white;
//         }
//       }
//     }
//   }
// }