@import 'styles/mixins.scss';
@import 'styles/Grid.scss';

$row-height: 80px;

.tenure-agreement {
  &__table{
    margin-top: $content-margin-top;
  }
}

.tenure-agreement-search {
  width: 200px;
}

.tenure-agreement-table-item {
  cursor: pointer;
}



.rup {
  &__cell-6 {
    @extend .col-md-6, .col-lg-6, .col-sm-6, .col-xs-12;
  }

  &__cell-4 {
    @extend .col-md-4, .col-lg-4, .col-sm-4, .col-xs-12;
  }

  &__row {
    @extend .row;
  }

  &__title {
    font-size: 1.5rem;
    font-weight: bold;
  }

  &__pdf-link {
    display: none
  }

  &__actions {
    justify-content: space-between;
  }

  &__status-dropdown {
    margin-left: 15px !important;
  }

  &__divider {
    border-top: 3px solid $accent-color;
    margin-top: 15px;
  }

  &__content {
    margin-top: $content-margin-top;
  }

  &__info-title {
    font-weight: bold;
    font-size: 1.2rem;
    margin: 10px 0;
  }
  &__plan-info,
  &__agreement-info,
  &__contact-info, {
    display: flex;
    flex-direction: column;
  }
  
  // &__basic-info {
  //   display: grid;
  //   grid-template-columns: 33% 33% 33%;
  //   grid-template-rows: $row-height $row-height $row-height;
  // }

  // &__agreement-info {
  //   display: grid;
  //   grid-template-columns: 33% 33%;
  //   grid-template-rows: $row-height $row-height;
  //   margin-top: 10px;
  // }

  // &__basic-info-first-row,
  // &__basic-info-third-row {
  //   display: grid;
  //   grid-template-columns: 33% 33% 33%;
  //   grid-template-rows: $row-height;
  // }

  // &__basic-info-second-row {
  //   display: grid;
  //   grid-template-columns: 33% 33%;
  //   grid-template-rows: $row-height 40px;
  // }
}





// // .range-use-plan-pdf-view {

// //   &__download-button {
// //     position: fixed;
// //     bottom: 40px;
// //     right: 40px;
// //   }

// //   &__back-button {
// //     position: fixed;
// //     bottom: 90px;
// //     right: 40px;
// //   }

// //   &__container {
// //     display: flex;
// //     flex-direction: column;
// //     align-items: center;

// //     &__load {
// //       margin-top: 1em;
// //       color: white;
// //     }

// //     &__document {
// //       margin-bottom: 1em;

// //       .ReactPDF {
// //         &__Document {
// //           display: flex;
// //           flex-direction: column;
// //           align-items: center;
// //         }

// //         &__Page {
// //           max-width: calc(100% - 2em);
// //           box-shadow: 0 0 8px rgba(0, 0, 0, .5);
// //           margin: 10px 0;

// //           canvas {
// //             max-width: 100%;
// //             height: auto !important;
// //           }
// //         }

// //         &__message {
// //           padding: 20px;
// //           color: white;
// //         }
// //       }
// //     }
// //   }
// // }