@import 'styles/mixins.scss';
@import 'styles/Grid.scss';

$row-height: 80px;

.tenure-agreement {
  &__table{
    margin-top: $content-margin-top;
  }
}

.tenure-agreement-search {
  width: 200px;
}

.tenure-agreement-table-item {
  cursor: pointer;
}

.rup {
  &__cell-6 {
    @extend .col-md-6, .col-lg-6, .col-sm-6, .col-xs-12;
  }

  &__cell-4 {
    @extend .col-md-4, .col-lg-4, .col-sm-4, .col-xs-12;
  }

  &__row {
    @extend .row;
  }

  &__title {
    font-size: 1.5rem;
    font-weight: bold;
  }

  &__pdf-link {
    display: none
  }

  &__actions {
    justify-content: space-between;
  }

  &__status-dropdown {
    margin-left: 15px !important;
  }

  &__divider {
    border-top: 3px solid $accent-color;
    margin-top: 15px;
  }

  &__content {
    margin-top: $content-margin-top;
  }

  &__info-title {
    font-weight: bold;
    font-size: 1.2rem;
    margin: 10px 0;
  }
  &__plan-info,
  &__agreement-info,
  &__contact-info, {
    display: flex;
    flex-direction: column;
  }
  &__zone-text {
    display: flex;
    justify-content: space-between;
    cursor: pointer;

    &__icon {
      visibility: hidden;
    }
  }

  &__zone-text:hover i {
    visibility: visible;
  }
}