.rup {
  &__cell-6 {
    @extend .col-md-6, .col-lg-6, .col-sm-6, .col-xs-12;
  }

  &__cell-4 {
    @extend .col-md-4, .col-lg-4, .col-sm-4, .col-xs-12;
  }

  &__row {
    @extend .row;
  }

  &__basic_information {
    margin-bottom: calc(#{$rup-content-margin-bottom} - 15px);
  }

  &__usage__table {
    margin-bottom: $rup-content-margin-bottom;
  }

  &__fetching-error {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 90px);
    font-size: 1.5rem;
    flex-direction: column;

    > div {
      margin: 10px 0;
    }
    &__message {
      margin: 0px 10px 0 5px;
    }
    &__or-message {
      margin: 0px 10px 0 10px;
    }
  }

  &__content-title {
    font-size: 1.8rem;
    font-weight: bold;
    color: $primary-color;

    &--editable {
      font-size: 1.8rem;
      font-weight: bold;
      color: $primary-color;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__sticky {
    z-index: $rup-sticky-z-index;
    min-width: $tablet-width;

    &--fixed {
      position: fixed;
      top: 0;
      width: 100%;
    }
  }

  &__sticky--fixed + &__contents__container {
    > .rup__contents {
      padding-top: 70px;
    }
  }

  &__actions {
    &__background {
      background: $primary-color;
    }
    &__container {
      @extend .container;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 0;
    }
    &__left {
      display: flex;
      font-size: 1.1rem;
      font-weight: 600;
      line-height: 16px;
      color: white;
    }
    &__title,
    &__primary-agreement-holder {
      display: flex;
      align-items: center;
      margin-right: 15px;
      padding-right: 15px;
      border-right: 1px solid $accent-color;
    }
  }

  &__contents {
    width: calc(100% - 70px);
    padding-top: $rup-content-margin-top;

    &__container {
      @extend .container;
      display: flex;
    }
    &__tabs {
      position: sticky;
      top: $rup-sticky-height;
      margin-right: 15px;
      align-self: flex-start; /* <-- this is the fix */
      font-size: 1.2rem;
    }
    &__tab {
      display: flex;
      padding: $rup-content-margin-top 0;
      padding-left: 10px;
      border-bottom: 1px solid lightgray;
      color: black;
      text-decoration: none;
      min-width: 210px;

      > img {
        width: 20px;
        height: 20px;
        margin-right: 7px;
      }
      &:hover {
        font-weight: bold;
        color: $primary-color;
        text-decoration: none; 
      }
      &--active {
        font-weight: bold;
        text-decoration: none; 
        color: $primary-color;
        border-left: 3px solid $accent-color;
        border-radius: 1px;
        cursor: pointer;
      }
      @include desktop-width {
        min-width: 55px;
        padding-right: 0;
        padding-left: 0;
        justify-content: center;

        > img {
          margin: 0 15px;
        }
        > span {
          display: none;
        }
      }
    }
  }

  &__content {
    position: relative;

    &__ref {
      position: absolute;
      top: calc(-#{$rup-sticky-height} + -15px);
    }
  }

  &__back-btn {
    position: absolute;
    margin-left: -38px;
    color: white;
    cursor: pointer;
  }

  &__divider {
    border-top: 3px solid $accent-color;
    margin-top: 15px;
  }

  &__sub-divider {
    border-top: 1px solid $accent-color;
    margin-top: 5px;
  }

  &__section-not-found {
    border-radius: 5px;
    margin: 2px 0 5px 0;
    padding: 8px 0;
    font-size: 1.1rem;
  }

  &__info-title {
    font-weight: bold;
    font-size: 1.4rem;
    margin: 10px 0;
  }

  &__plan-info,
  &__agreement-info,
  &__contact-info {
    display: flex;
    flex-direction: column;
  }

  &__zone-text {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
  }

  &__update-status-dropdown {
    margin-left: 10px !important;
    margin-right: 0px !important;
    > .menu {
      left: inherit !important;
      right: 0 !important;
      &:after {
        left: unset !important;
        right: 55px !important;
      }
    }
  }

  &__update-status-modal {
    &__content {
      font-size: 1.2rem;
    }
    &__note {
      margin-top: 10px;
      color: #999999;
  
      > form {
        margin: 5px 0;
      }
      &__text-length {
        text-align: end;
      }
    }
    &__btns {
      margin-top: 20px;
      display: flex;
      justify-content: flex-end;
    }
  }
}