.rup {
  &__grazing-schedules {
    margin-bottom: $rup-content-margin-bottom;
    
    &__add-dropdown {
      > .add.circle.icon {
        background-color: #003366 !important;
        color: white;
      }
    }
    & .ui.right.pointing.dropdown>.menu {
      top: -10px !important;
      right: 15px !important; 
    }

    & .ui.basic.button {
      margin: 0 !important;
      color: #003366 !important;
      box-shadow: 0 0 0 1.5px #003366 inset !important;
      background: transparent none !important;
    }

    & i {
      background-color: unset !important;
    }
  }

  &__grazing-schedule {
    &__title {
      display: flex;
      align-items: center;

      > img {
        margin-right: 7px;
        height: 18px;
      }
    }
    &__warning-message {
      padding: 0px 15px 10px 15px;
    }
    &__dates {
      min-width: 75px;
    }
    &__grace-days {
      min-width: 50px;
    }
    &__AUMs {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      font-size: 1.1rem;
      text-align: right;
    }
    &__AUM-label {
      font-weight: bold;
      margin: 0 10px;
    }
    &__AUM-number {
      border: 1px solid gainsboro;
      border-radius: 3px;
      padding: 0 12px;
      height: 35px;
      display: flex;
      align-items: center;

      &--invalid {
        background-color: #fff6f6;
        border-color: #e0b4b4;
        color: $error-color;
        box-shadow: none;
      }
    }
    &__narrative {
      &__title {
        font-weight: bold;
      }
    }
    &__draft-container {
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #CCCCCC;
      border-radius: 5px;
      margin-top: 10px;
    }
    &__in-draft {
      display: flex;
      align-items: center;
    }
  }
}