.rup {
  &__ip-checklist {
    margin-bottom: $rup-content-margin-bottom;
  
    &__header {
      font-size: 1.1rem;
      margin-top: 5px;
    }
    &__form {
      margin: 10px;
  
      .disabled.inline.field {
        opacity: 1 !important;
  
        label {
          opacity: 0.7;
        }
      }
      &__textarea {
        margin-left: 25px;
      }
    }
  }
}