.rup {
  &__multi-tab {
    display: none;

    &--active {
      display: block;
    }
    &__title {
      font-size: 1.3rem;
      font-weight: bold;
      margin-bottom: 20px;
    }
    &__btns {
      display: flex;
      justify-content: space-between;
      margin-top: 25px;
    }
    &__btn {
      min-width: 120px;
    }
    &__last {
      display: flex;
      flex-direction: column;
      align-items: center;

      &__title {
        font-size: 1.3rem;
        font-weight: bold;
        margin-bottom: 10px;
      }
    }
    &__radio {
      margin-right: 10px;
    }
    &__radio-field {
      display: flex;
    }
    &__ah-list {
      margin: 10px 0;

      &__header {
        font-size: 1.1rem;
        color: #999999;
        margin-bottom: 7px;
      }
      &__cname {
        margin: 0 7px;

        &--bold {
          font-weight: bold;
        }
      }
    }
    &__note {
      margin-top: 25px;
      color: #999999;

      &__title {
        margin: 5px 0;
        font-size: 0.9rem;
      }
      &__text-length {
        text-align: end;
        margin-top: 5px;
        font-size: 0.9rem;
      }
    }
  }
  &__confirmation {
    &__paragraph-title {
      font-size: 1.1rem;
      margin-top: 15px;
      color: #999999;
    }
    &__ah-list {
      margin: 5px 0;
      display: flex;

      > div {
        flex: 1;
      }
      &__header {
        font-size: 1.1rem;
        color: #999999;
        margin-bottom: 7px;
      }
      &__columns {
        display: flex;
        margin-top: 5px;
        font-weight: bold;

        > span {
          flex: 1;
        }
      }
      &__cname {
        margin: 0 7px;

        &--bold {
          font-weight: bold;
        }
      }
    }
    &__request {
      &__header {
        color: rgba(51,51,51,0.5);
        font-family: "Helvetica Neue";
        font-size: 1.2rem;
        margin-bottom: 10px;
        font-weight: bold;
        line-height: 25px;
        text-align: center;
      }
    }
  }
}