.rup {
  &__missues {
    &__container {
      margin-bottom: 15px;
    }
    margin: 10px 0;
    list-style-type: none;
    padding: 0;
    border-radius: 5px;
    border: 1px solid gainsboro;

    &--empty {
      border: 0px;
    }
    li {
      border-bottom: 1px solid gainsboro;
    }
    li:last-child {
      border-bottom: 0px solid gainsboro;
    }
  }
  &__missue {
    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: bold;
      font-size: 1.2rem;
      width: 100%;

      &__title {
        @extend .default-button;
        display: flex;
        justify-content: space-between;
        width: 100%;
        background: none;
        padding: 15px !important;
      }
      &__right {
        display: flex;
      }
      &__identified {
        font-size: 1rem;
      }
    }
    &__content {
      padding: 0px 15px 15px 15px;

      &__hidden {
        display: none;  
      }
    }
    &__actions {
      &__title {
        font-size: 1.2rem;
        color: gray;
      }
    }
    &__action {
      margin: 10px;

      &__note {
        margin-top: 3px;
        font-size: 1.05rem;
      }
      &__not-found {
        margin-top: 5px;
        font-size: 1.1rem;
      }
      &__type {
        font-weight: bold;
      }
      &__detail {
        opacity: 0.9;
      }
    }
  }
}