.rup {
  &__plant-communities {
    &__title {
      font-size: 1.2rem;
      color: gray;
      margin: 10px 0px;
    }
  }

  &__plant-community {
    &__box {
      font-weight: bold;
      padding: 12px;
      border-radius: 5px;
      border: 1px solid gainsboro;
      margin-bottom: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;

      &:last-child {
        margin-bottom: 0px;
      }
      &__right {
        display: flex;
        font-weight: initial;
      }
    }
    &__modal {
      &__header {
        font-weight: bold;
        font-size: 1.7rem;
      }
      &__pasture {
        color: gray;
        font-size: 1.1rem;
      }
      &__content-title {
        font-weight: bold;
        font-size: 1.4rem;
        margin-top: 20px;
      }
      &__label {
        color: gray;
        margin-top: 10px;
        font-size: 1.1rem;
      }
      &__text {
        margin-top: 3px;
      }
    }
    &__actions {
      margin-top: 5px;
      padding: 10px;
      border-radius: 5px;
      border: 1px solid gainsboro;

      &__title {
        font-weight: bold;
        font-size: 1.2rem;
      }
    }
    &__action {
      &__header {
        display: flex;
        margin-top: 5px;
        color: gray;
        font-size: 1.1rem;
        margin-bottom: -10px;

        div {
          &:nth-of-type(1) {
            flex: 0.7;
          }
          &:nth-of-type(2) {
            flex: 1.2;
          }
        }
      }
      &__row {
        display: flex;
        padding: 10px 0;
        border-bottom: 1px solid gainsboro;

        &:last-child {
          border-bottom: 0px;
          padding-bottom: 0px;
        }
        div {
          &:nth-of-type(1) {
            flex: 0.7;
          }
          &:nth-of-type(2) {
            flex: 1.2;
          }
        }
      }
    }
    &__rr {
      margin-top: 5px;
      padding: 10px;
      border-radius: 5px;
      border: 1px solid gainsboro;

      &__title {
        font-size: 1.2rem;
        font-weight: bold;
      }
      &__label {
        color: gray;
        margin-top: 10px;
        font-size: 1.1rem;
      }
    }
  }
}