.rup {
  &__pastures {
    margin-bottom: $rup-content-margin-bottom;

    &__add-button {
      > .add.circle.icon {
        background-color: #003366 !important;
        color: white;
      }
    }

    & textarea {
      width: 100%;
      border: 1px solid rgba(34, 36, 38, 0.15);
      border-radius: 3px;
      outline: 0;
      padding: 9px 14px;
      font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
      color: rgba(0, 0, 0, 0.87);
    }
  }
  &__pasture {
    &__title {
      display: flex;
      align-items: center;

      > img {
        margin-right: 7px;
        height: 18px;
      }

      > div > input {
        padding: 4px 7px !important;
        margin-left: 7px !important;
      }
    }
  }
}
