.rup {
  &__plant-communities {
    &__title {
      font-size: 1.2rem;
      color: gray;
      margin: 10px 0px;
    }
    &__not-provided {
      margin-top: -5px;
    }
  }

  &__plant-community {
    &__box {
      font-weight: bold;
      padding: 12px;
      border-radius: 5px;
      border: 1px solid gainsboro;
      margin-bottom: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;

      &:last-child {
        margin-bottom: 0px;
      }
      &__left {
        display: flex;
        align-items: center;

        > img {
          margin-right: 7px;
          height: 15px;
        }
      }
      &__right {
        display: flex;
        font-weight: initial;
      }
    }
    &__modal {
      &__header {
        font-weight: bold;
        font-size: 1.8rem;
        display: flex;

        > img {
          margin-right: 7px;
        }
      }
      &__pasture {
        color: gray;
        font-size: 1.1rem;
      }
      &__content-title {
        font-weight: bold;
        font-size: 1.4rem;
        margin-top: 20px;
      }
      &__label {
        color: gray;
        margin-top: 10px;
        font-size: 1.1rem;
      }
      &__text {
        margin-top: 3px;
      }
    }
    &__actions {
      margin-top: 5px;
      padding: 10px;
      border-radius: 5px;
      border: 2px solid gainsboro;

      &__title {
        font-weight: bold;
        font-size: 1.2rem;
        display: flex;

        > img {
          margin-right: 7px;
        }
      }
    }
    &__action {
      &__header {
        display: flex;
        margin-top: 5px;
        color: gray;
        font-size: 1.1rem;
        margin-bottom: -7px;

        div {
          &:nth-of-type(1) {
            padding-right: 10px;
            flex: 0.4;
          }
          &:nth-of-type(2) {
            flex: 1;
          }
        }
      }
      &__row {
        display: flex;
        padding: 10px 0;
        border-bottom: 1px solid gainsboro;

        &:last-child {
          border-bottom: 0px;
          padding-bottom: 0px;
        }
        div {
          &:nth-of-type(1) {
            padding-right: 10px;
            flex: 0.4;
          }
          &:nth-of-type(2) {
            flex: 1;
          }
        }
      }
    }
    &__sh,
    &__su,
    &__rr {
      margin-top: 10px;
      padding: 10px;
      border-radius: 5px;
      border: 2px solid gainsboro;

      &__title {
        font-size: 1.2rem;
        font-weight: bold;
        margin-bottom: 5px;
        display: flex;

        > img {
          margin-right: 7px;
        }
      }
      &__label {
        color: gray;
        margin-top: 10px;
        font-size: 1.1rem;
      }
    }
    &__rr {
      margin-top: 5px;
    }
    &__sh {
      &__label {
        margin-top: 0;
      }
    }
    &__i-plants {
      &__not-provided {
        margin-top: 7px;
      }
    }
    &__i-plant {
      &__header {
        display: flex;
        margin-bottom: -5px;

        div {
          flex: 1;
        }
      }
      &__row {
        display: flex;
        padding: 10px 0;
        border-bottom: 1px solid gainsboro;

        &:last-child {
          border-bottom: 0px;
          padding-bottom: 0px;
        }
        div {
          flex: 1;
        }
      }
    }
    &__m-areas {

    }
    &__m-area {
      &__label {
        color: gray;
        margin-top: 10px;
        font-size: 1.1rem;
      }
    }
  }
}