.rup {
  &__pastures {
    margin-bottom: 30px;
  }
  &__pasture {
    &__title {
      display: flex;
      align-items: center;

      > img {
        margin-right: 7px;
        height: 18px;
      }
    }
  }
}