.tenure-agreement {
  display: flex;
  flex-direction: column;
  padding: 15px;
  
  &__header {
    font-size: 35px;	
    font-weight: bold;
    line-height: 40px;
  }

  &__search {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15px;
  }
}

.tenure-agreement-list {
  li:first-child {
    border-top: 4px solid;
  }
  li:nth-child(2n) {
    background: #fafafa;
  }
}

.tenure-agreement-search {
  display: flex;
  align-items: center;

  &__label {
    font-size: 15px;	
    font-weight: bold;	
    line-height: 20px;
    margin-right: 10px;
  }
}

.tenure-agreement-list-item {
  list-style: none;
  border-bottom: 1px solid;

  &__content {
    display: flex;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    &__left,
    &__right {
      display: flex;
    }
  
    &__number {
      font-size: 1.2rem;
    }
  
    &__info {
      font-size: 1.2rem;
    }
  
    &__divider {
      margin: 0 30px;
      border-right: 1px solid;
    }
  }

  &__collapse {
    display: none;

    &--active {
      display: block;
    }
  }
}
