.toasts {
  top: 30px;
  position: fixed;
  right: 30px;
  width: 400px;
  z-index: $toast-z-index;
}

.toast {
  min-height: 65px;
  color: black;
  display: flex;
  align-items: stretch;
  border: 1px solid rgba(34, 36, 38, 0.1);

  &:not(:last-child) {
    margin: 0 0 12px;
  }

  &__icon {
    min-width: 50px;
    max-width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

    > i {
      margin: 0 !important;
    }
    &__success {
      background-color: green;
    }

    &__error {
      background-color: $error-color;
    }
    &__warning {
      background-color: $warning-color;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-color: white;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.1rem;
    padding: 15px;
  }

  &__dismiss {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: white;
    border: 0;
    color: inherit;
    cursor: pointer;
    display: block;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    font: inherit;
    padding: 10px;
    font-size: 1.3rem;
    border-left: 1px solid rgba(34, 36, 38, 0.1);

    > i {
      margin: 0 !important;
    }
  }
}
